# Test with Swagger UI of FastAPI

## POST/retrieve

### Input:
![alt text](image-6.png)

### Output:
![alt text](image-7.png)

## POST/rag

### Input
![alt text](image-2.png)

### Output
![alt text](image-3.png)

## POST/agent

### Input
![alt text](image-4.png)

### Output
![alt text](image-5.png)
